In [3]:
import os
import json
import pandas as pd
import mysql.connector

In [5]:
#extract aggregate insurance data from json file
def agg_inc_data():
    path_A="C:/Users/ruaru/Desktop/FOLDER/Phonepe pulse/pulse/data/aggregated/insurance/country/india/state/"
    agg_inc_list=os.listdir(path_A)
    column_A={'State':[], 'Year':[],'Quater':[],'Transaction_type':[], 'Transaction_count':[], 'Transaction_amount':[]}
    for state in agg_inc_list:
        path_states=path_A+state+"/"
        agg_inc_list1=os.listdir(path_states)
        for year in agg_inc_list1:
            path_year=path_states+year+"/"
            agg_inc_list2=os.listdir(path_year)
            for file in agg_inc_list2:
                path_file=path_year+file
                data=open(path_file,"r")
                D=json.load(data)
                for z in D["data"]["transactionData"]:
                    Name=z["name"]
                    count=z['paymentInstruments'][0]['count']
                    amount=z['paymentInstruments'][0]['amount']
                    column_A["State"].append(state)
                    column_A["Year"].append(year)
                    column_A["Transaction_type"].append(Name)
                    column_A["Transaction_count"].append(count)
                    column_A["Transaction_amount"].append(amount)
                    column_A["Quater"].append(int(file.strip(".json")))
    df_A=pd.DataFrame(column_A)
    df_A["State"]=df_A["State"].str.replace('andaman-&-nicobar-islands','andaman & nicobar')
    df_A["State"]=df_A["State"].str.replace("-"," ")
    df_A["State"]=df_A["State"].str.title()
    df_A["State"]=df_A["State"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")
    return (df_A)
df_A=agg_inc_data()

In [7]:
#extract aggregate transaction data from json file
def agg_trans_data():
    path_1="C:/Users/ruaru/Desktop/FOLDER/Phonepe pulse/pulse/data/aggregated/transaction/country/india/state/"
    agg_trans_list=os.listdir(path_1)
    column_1={'State':[], 'Year':[],'Quater':[],'Transaction_type':[], 'Transaction_count':[], 'Transaction_amount':[]}
    for state in agg_trans_list:
        path_states=path_1+state+"/"
        agg_trans_list1=os.listdir(path_states)
        for year in agg_trans_list1:
            path_year=path_states+year+"/"
            agg_trans_list2=os.listdir(path_year)
            for file in agg_trans_list2:
                path_file=path_year+file
                data=open(path_file,"r")
                D=json.load(data)
                for z in D["data"]["transactionData"]:
                    Name=z["name"]
                    count=z['paymentInstruments'][0]['count']
                    amount=z['paymentInstruments'][0]['amount']
                    column_1["State"].append(state)
                    column_1["Year"].append(year)
                    column_1["Transaction_type"].append(Name)
                    column_1["Transaction_count"].append(count)
                    column_1["Transaction_amount"].append(amount)
                    column_1["Quater"].append(int(file.strip(".json")))
    df_1=pd.DataFrame(column_1)
    df_1["State"]=df_1["State"].str.replace('andaman-&-nicobar-islands','andaman & nicobar')
    df_1["State"]=df_1["State"].str.replace("-"," ")
    df_1["State"]=df_1["State"].str.title()
    df_1["State"]=df_1["State"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")
    return (df_1)
df_1=agg_trans_data()

In [9]:
#extract aggregate user data from json file
def agg_user_data():
    path_2="C:/Users/ruaru/Desktop/FOLDER/Phonepe pulse/pulse/data/aggregated/user/country/india/state/"
    agg_user_list=os.listdir(path_2)
    column_2={'State':[], 'Year':[],'Quater':[],'user_Brand':[], 'user_count':[], 'user_percentage':[]}
    for state in agg_user_list:
        path_user=path_2+state+"/"
        agg_user_list1=os.listdir(path_user)
        for year in agg_user_list1:
            path_year=path_user+year+"/"
            agg_user_list2=os.listdir(path_year)
            for file in agg_user_list2:
                path_file=path_year+file
                data=open(path_file,"r")
                D=json.load(data)
                try:
                    for z in D["data"]["usersByDevice"]:
                        Brand=z["brand"]
                        count=z["count"]
                        percentage=z["percentage"]
                        column_2["State"].append(state)
                        column_2["Year"].append(year)
                        column_2["user_Brand"].append(Brand)
                        column_2["user_count"].append(count)
                        column_2["user_percentage"].append(percentage)
                        column_2["Quater"].append(int(file.strip(".json")))
                except:
                    pass   
    df_2=pd.DataFrame(column_2)
    df_2["State"]=df_2["State"].str.replace('andaman-&-nicobar-islands','andaman & nicobar')
    df_2["State"]=df_2["State"].str.replace("-"," ")
    df_2["State"]=df_2["State"].str.title()
    df_2["State"]=df_2["State"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")
    return (df_2)
df_2=agg_user_data()

In [11]:
#extract MAP insurance data from json file
def map_insc_data():
    path_M="C:/Users/ruaru/Desktop/FOLDER/Phonepe pulse/pulse/data/map/insurance/hover/country/india/state/"
    map_Minc_list=os.listdir(path_M)
    column_M={'State':[], 'Year':[],'Quater':[],'District':[], 'Transaction_count':[], 'Transaction_amount':[]}
    for state in map_Minc_list:
        path_states=path_M+state+"/"
        map_Minc_list1=os.listdir(path_states)
        for year in map_Minc_list1:
            path_year=path_states+year+"/"
            map_Minc_list2=os.listdir(path_year)
            for file in map_Minc_list2:
                path_file=path_year+file
                data=open(path_file,"r")
                D=json.load(data)
                for z in D["data"]["hoverDataList"]:
                    Name=z["name"]
                    count=z['metric'][0]['count']
                    amount=z['metric'][0]['amount']
                    column_M["State"].append(state)
                    column_M["Year"].append(year)
                    column_M["District"].append(Name)
                    column_M["Transaction_count"].append(count)
                    column_M["Transaction_amount"].append(amount)
                    column_M["Quater"].append(int(file.strip(".json")))
    df_M=pd.DataFrame(column_M)
    df_M["State"]=df_M["State"].str.replace('andaman-&-nicobar-islands','andaman & nicobar')
    df_M["State"]=df_M["State"].str.replace("-"," ")
    df_M["State"]=df_M["State"].str.title()
    df_M["State"]=df_M["State"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")
    return (df_M)
df_M=map_insc_data()

In [13]:
#extract map transaction data from json file
def map_trans_data():
    path_3="C:/Users/ruaru/Desktop/FOLDER/Phonepe pulse/pulse/data/map/transaction/hover/country/india/state/"
    map_trans_list=os.listdir(path_3)
    column_3={'State':[],'Year':[], 'District':[], 'Quater':[], 'Transaction_count':[], 'Transaction_amount':[]}
    for state in map_trans_list:
        path_mtrans=path_3+state+"/"
        map_trans_list1=os.listdir(path_mtrans)
        for year in map_trans_list1:
            path_ytrans=path_mtrans+year+"/"
            map_trans_list2=os.listdir(path_ytrans)
            for file in map_trans_list2:
                path_ftrans=path_ytrans+file
                data=open(path_ftrans,"r")
                D=json.load(data)
                for z in D["data"]["hoverDataList"]:
                    name=z["name"]
                    count=z["metric"][0]["count"]
                    amount=z["metric"][0]["amount"]
                    column_3["State"].append(state)
                    column_3["Year"].append(year)
                    column_3["District"].append(name)
                    column_3["Transaction_count"].append(count)
                    column_3["Transaction_amount"].append(amount)
                    column_3["Quater"].append(int(file.strip(".json")))
    df_3=pd.DataFrame(column_3)
    df_3["State"]=df_3["State"].str.replace('andaman-&-nicobar-islands','andaman & nicobar')
    df_3["State"]=df_3["State"].str.replace("-"," ")
    df_3["State"]=df_3["State"].str.title()
    df_3["State"]=df_3["State"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")
    return (df_3)
df_3=map_trans_data()

In [15]:
#extract map user data from json file
def map_user_data():
    path_4="C:/Users/ruaru/Desktop/FOLDER/Phonepe pulse/pulse/data/map/user/hover/country/india/state/"
    map_user_list=os.listdir(path_4)
    column_4={'State':[],'District':[],'Year':[],'Quater':[],'Registered_Users':[],'App_Opens':[]}
    for state in map_user_list:
        path_muser=path_4+state+"/"
        map_user_list1=os.listdir(path_muser)
        for year in map_user_list1:
            path_yuser=path_muser+year+"/"
            map_user_list2=os.listdir(path_yuser)
            for file in map_user_list2:
                path_fuser=path_yuser+file
                data=open(path_fuser,"r")
                D=json.load(data)
                for z in D["data"]["hoverData"].items():
                    name=z[0]
                    users=z[1]["registeredUsers"]
                    app_open=z[1]["appOpens"]
                    column_4["State"].append(state)
                    column_4["Year"].append(year)
                    column_4["District"].append(name)
                    column_4["Registered_Users"].append(users)
                    column_4["App_Opens"].append(app_open)
                    column_4["Quater"].append(int(file.strip(".json")))
    df_4=pd.DataFrame(column_4)
    df_4["State"]=df_4["State"].str.replace('andaman-&-nicobar-islands','andaman & nicobar')
    df_4["State"]=df_4["State"].str.replace("-"," ")
    df_4["State"]=df_4["State"].str.title()
    df_4["State"]=df_4["State"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")
    return (df_4)
df_4=map_user_data()

In [17]:
#extract TOP insurance data from json file
def top_inc_data():
    path_T="C:/Users/ruaru/Desktop/FOLDER/Phonepe pulse/pulse/data/top/insurance/country/india/state/"
    top_Tinc_list=os.listdir(path_T)
    column_T={'State':[], 'Year':[],'Quater':[],'Pincode':[], 'Transaction_count':[], 'Transaction_amount':[]}
    for state in top_Tinc_list:
        path_states=path_T+state+"/"
        top_Tinc_list1=os.listdir(path_states)
        for year in top_Tinc_list1:
            path_year=path_states+year+"/"
            top_Tinc_list2=os.listdir(path_year)
            for file in top_Tinc_list2:
                path_file=path_year+file
                data=open(path_file,"r")
                D=json.load(data)
                for z in D["data"]["pincodes"]:
                    Name=z["entityName"]
                    count=z['metric']['count']
                    amount=z['metric']['amount']
                    column_T["State"].append(state)
                    column_T["Year"].append(year)
                    column_T["Pincode"].append(Name)
                    column_T["Transaction_count"].append(count)
                    column_T["Transaction_amount"].append(amount)
                    column_T["Quater"].append(int(file.strip(".json")))
    df_T=pd.DataFrame(column_T)
    df_T["State"]=df_T["State"].str.replace('andaman-&-nicobar-islands','andaman & nicobar')
    df_T["State"]=df_T["State"].str.replace("-"," ")
    df_T["State"]=df_T["State"].str.title()
    df_T["State"]=df_T["State"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")
    return (df_T)
df_T=top_inc_data()

In [19]:
#extract top transaction data from json file
def top_trans_data():
    path_5="C:/Users/ruaru/Desktop/FOLDER/Phonepe pulse/pulse/data/top/transaction/country/india/state/"
    top_trans_list=os.listdir(path_5)
    column_5= {'State':[],'Pincode':[],'Year':[],'Quater':[], 'Transaction_count':[], 'Transaction_amount':[]}
    for state in top_trans_list:
        path_ttrans=path_5+state+"/"
        top_trans_list1=os.listdir(path_ttrans)
        for year in top_trans_list1:
            path_ytrans=path_ttrans+year+"/"
            top_trans_list2=os.listdir(path_ytrans)
            for file in top_trans_list2:
                path_ftrans=path_ytrans+file
                data=open(path_ftrans,"r")
                D=json.load(data)
                for z in D["data"]["pincodes"]:
                    name=z["entityName"]
                    count=z["metric"]["count"]
                    amount=z["metric"]["amount"]
                    column_5["State"].append(state)
                    column_5["Year"].append(year)
                    column_5["Pincode"].append(name)
                    column_5["Transaction_count"].append(count)
                    column_5["Transaction_amount"].append(amount)
                    column_5["Quater"].append(int(file.strip(".json")))
    df_5=pd.DataFrame(column_5)
    df_5["State"]=df_5["State"].str.replace('andaman-&-nicobar-islands','andaman & nicobar')
    df_5["State"]=df_5["State"].str.replace("-"," ")
    df_5["State"]=df_5["State"].str.title()
    df_5["State"]=df_5["State"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")
    return (df_5)
df_5=top_trans_data()

In [21]:
#extract top user data from json file
def top_user_data():
    path_6="C:/Users/ruaru/Desktop/FOLDER/Phonepe pulse/pulse/data/top/user/country/india/state/"
    top_user_list=os.listdir(path_6)
    column_6={'State':[],'Pincode':[],'Year':[],'Quater':[],'Registered_Users':[]}
    for state in top_user_list:
        path_tuser=path_6+state+"/"
        top_user_list1=os.listdir(path_tuser)
        for year in top_user_list1:
            path_yuser=path_tuser+year+"/"
            top_user_list2=os.listdir(path_yuser)
            for file in top_user_list2:
                path_fuser=path_yuser+file
                data=open(path_fuser,"r")
                D=json.load(data)
                for z in D["data"]["pincodes"]:
                    pincode=z["name"]
                    user=z["registeredUsers"]
                    column_6["State"].append(state)
                    column_6["Year"].append(year)
                    column_6["Pincode"].append(pincode)
                    column_6["Registered_Users"].append(user)
                    column_6["Quater"].append(int(file.strip(".json")))
    df_6=pd.DataFrame(column_6)
    df_6["State"]=df_6["State"].str.replace('andaman-&-nicobar-islands','andaman & nicobar')
    df_6["State"]=df_6["State"].str.replace("-"," ")
    df_6["State"]=df_6["State"].str.title()
    df_6["State"]=df_6["State"].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")
    return (df_6)
df_6=top_user_data()

In [23]:
#sql connection
conn=mysql.connector.connect(host="localhost", user="root", password="Arunudhay2024",database="phonepe")
my_cursor = conn.cursor()
my_cursor.execute("CREATE DATABASE IF NOT EXISTS phonepe")

my_cursor.execute('''CREATE TABLE IF NOT EXISTS agg_inc( 
                                      State VARCHAR(225),
                                      Year YEAR,
                                      Quater INT,       
                                      Transaction_type VARCHAR(225),
                                      Transaction_count BIGINT,
                                      Transaction_amount FLOAT)
                  ''')
my_cursor.execute('''CREATE TABLE IF NOT EXISTS agg_trans( 
                                      State VARCHAR(225),
                                      Year YEAR,
                                      Quater INT,       
                                      Transaction_type VARCHAR(225),
                                      Transaction_count BIGINT,
                                      Transaction_amount FLOAT)
                  ''')
my_cursor.execute('''CREATE TABLE IF NOT EXISTS agg_user( 
                                      State VARCHAR(225),
                                      Year YEAR,
                                      Quater INT,       
                                      user_Brand VARCHAR(225),
                                      user_count BIGINT,
                                      user_percentage FLOAT)
                  ''')
my_cursor.execute('''CREATE TABLE IF NOT EXISTS map_inc( 
                                      State VARCHAR(225),
                                      Year YEAR,
                                      District VARCHAR(225),       
                                      Quater INT,
                                      Transaction_count BIGINT,
                                      Transaction_amount FLOAT)
                  ''')
my_cursor.execute('''CREATE TABLE IF NOT EXISTS map_trans( 
                                      State VARCHAR(225),
                                      Year YEAR,
                                      Quater INT,       
                                      District VARCHAR(225),
                                      Transaction_count BIGINT,
                                      Transaction_amount FLOAT)
                  ''')
my_cursor.execute('''CREATE TABLE IF NOT EXISTS map_user( 
                                      State VARCHAR(225),
                                      District VARCHAR(225),
                                      Year YEAR,
                                      Quater INT,       
                                      Registered_Users BIGINT,
                                      App_Opens BIGINT)
                  ''')
my_cursor.execute('''CREATE TABLE IF NOT EXISTS top_inc( 
                                      State VARCHAR(225),
                                      Year YEAR,
                                      Quater INT,       
                                      pincode INT,
                                      Transaction_count BIGINT,
                                      Transaction_amount FLOAT)
                  ''')
my_cursor.execute('''CREATE TABLE IF NOT EXISTS top_trans( 
                                      State VARCHAR(225),
                                      pincode INT,
                                      Year YEAR,
                                      Quater INT,
                                      Transaction_count BIGINT,
                                      Transaction_amount FLOAT)
                  ''')
my_cursor.execute('''CREATE TABLE IF NOT EXISTS top_user( 
                                      State VARCHAR(225),
                                      pincode INT,
                                      Year YEAR,
                                      Quater INT,
                                      Registered_Users BIGINT)
                  ''')
print("table created successfully")

table created successfully

In [25]:
#insert values into tables
insert_query='''INSERT INTO agg_inc(State,Year,Quater,       
                                      Transaction_type,
                                      Transaction_count,
                                      Transaction_amount)
                VALUES(%s,%s,%s,%s,%s,%s)'''
data=df_A.values.tolist()
my_cursor.executemany(insert_query,data)
conn.commit()

insert_query1='''INSERT INTO agg_trans(State,Year,Quater,       
                                      Transaction_type,
                                      Transaction_count,
                                      Transaction_amount)
                VALUES(%s,%s,%s,%s,%s,%s)'''
data=df_1.values.tolist()
my_cursor.executemany(insert_query1,data)
conn.commit()

insert_query2='''INSERT INTO agg_user(State,Year,Quater,       
                                      user_Brand,
                                      user_count,
                                      user_percentage)
                VALUES(%s,%s,%s,%s,%s,%s)'''
data=df_2.values.tolist()
my_cursor.executemany(insert_query2,data)
conn.commit()
insert_query3='''INSERT INTO map_inc(State,Year,Quater,       
                                      District,
                                      Transaction_count,
                                      Transaction_amount)
                VALUES(%s,%s,%s,%s,%s,%s)'''
data=df_M.values.tolist()
my_cursor.executemany(insert_query3,data)
conn.commit()


insert_query4='''INSERT INTO map_trans(State,Year,District,
                                       Quater,
                                      Transaction_count,
                                      Transaction_amount)
                VALUES(%s,%s,%s,%s,%s,%s)'''
data=df_3.values.tolist()
my_cursor.executemany(insert_query4,data)
conn.commit()

insert_query5='''INSERT INTO map_user(State,District,Year,
                                       Quater,
                                      Registered_Users,
                                      App_Opens)
                VALUES(%s,%s,%s,%s,%s,%s)'''
data=df_4.values.tolist()
my_cursor.executemany(insert_query5,data)
conn.commit()
insert_queryT='''INSERT INTO top_inc(State,Year,Quater,
                                      Pincode,
                                      Transaction_count,
                                      Transaction_amount)
                VALUES(%s,%s,%s,%s,%s,%s)'''
data=df_T.values.tolist()
my_cursor.executemany(insert_queryT,data)
conn.commit()

insert_query6='''INSERT INTO top_trans(State,Pincode,Year,
                                      Quater,
                                      Transaction_count,
                                      Transaction_amount)
                VALUES(%s,%s,%s,%s,%s,%s)'''
data=df_5.values.tolist()
my_cursor.executemany(insert_query6,data)
conn.commit()

insert_query7='''INSERT INTO top_user(State,Pincode,Year,
                                      Quater,
                                      Registered_Users
                                      )
                VALUES(%s,%s,%s,%s,%s)'''
data=df_6.values.tolist()
my_cursor.executemany(insert_query7,data)
conn.commit()
print("inserted successfully")

inserted successfully